{% load static %}
<html>
    <head>
        <title>Школьные выборы</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>                        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>
    <body>
        <div class="content container">
            <div class="row">
                <br></br>
                <div class="col-md-2">  
                    <div class="col-md-12"><a href="{% url 'election:candidat_list' %}"><h5>Главная</h5></a></div>
                    <div class="col-md-12"><a href="{% url 'election:vote' %}"><h5>Проголосовать</h5></a></div>
                    {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                        <a href="{% url 'election:simple_upload' %}"><div class="col-md-12">Добавить класс через csv</div></a>
                        {% endif %}
                        <a href="{% url 'election:logout' %}"><div class="col-md-12">Выйти из аккаунта</div></a>
                        <div class="col-md-12">Вы вошли под аккаунтом {{ user.username }}</div>
                    {% else %}
                        <div class="col-md-12"><a href="{% url 'election:login' %}">Войти в аккаунт</a></div>
                    {% endif %}
                </div>
                <div class="col-md-10">
                    {% block content %}
                    {% endblock %}
                 </div>
            </div>
        </div>
    </body>
</html>
